body {
    background: #cc7134;
    width: 300px;
}
.container {
    max-width: 400px;
    justify-content: center;
}
 
.header{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: cursive;
}

.ph{
    font-size: 35px;
}

input[type=text],
input[type=text]:focus {
    color:rgb(0, 0, 0);
    border: 2px solid white;
    background: rgba(238, 233, 163, 0.733);
    max-width: 400px;
}

.form{
    float: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}


.list{
    
    background: rgb(238, 233, 163);
    font-size: 1em;
}

.delete {
    cursor: pointer;
}

.item{
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}

.info:hover{
    color: chartreuse;
    cursor: pointer;
}

.done {
    background: rgb(11, 241, 49);
    text-decoration: line-through;
}

.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:7px;
    top: 10px;
    cursor: pointer;
}

.edit-color{
    width : 30px;
    height: 30px;
    position: absolute;
    left:7px;
    top: 10px;
    cursor: pointer;
}

.heart{
    color: black;
}

.heart:hover{
    cursor: pointer;
}

.priority{
    color: red;
}