body {
    background: #cc7134;
}
.container {
    max-width: 400px;
    justify-content: center;
}

.header{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: cursive;
    font-size: 90%;
}

input[type=text],
input[type=text]:focus {
    color:rgb(0, 0, 0);
    border:none;
    background: rgba(238, 233, 163, 0.733);
    max-width: 400px;
}

.list{
    list-style: none;
    background: rgb(238, 233, 163);
}

.delete {
    cursor: pointer;
}

.item{
    display: flex;
    justify-content: space-between;

}
.item:hover{
    color:#ffffff;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}
